body {
  background-color:black;
}
.goofy-ah {
  color:white;
  font-size:69px;
  display:inline;
}
.goofy-ah:hover {
  display:none;
}
.descrip {
  color:Crimson;
  text-align:right;
}
.descrip:active::after {
  content:"It was fun";
}
