body {
  background-color:black;
}
.goofy-ah p {
  font-size:69px;
  display:inline;
}

.goofy-ah:hover {
  display:none;
}
.descrip {
  color:Crimson;
  text-align:right;
  font-size:21px;
  font-family:sans-serif;
}
.descrip:active::after {
  content:"It was fun. Improving ice skate skills every year moment  but why was it the beach again\ at least we dug massive hole";
}
#rotate {
  color:blue;
  font-size:1px;
}
#rotate:hover {
  transform:rotate(222deg);
  display:inline;
}
header h1 {
  color:lightyellow;
  text-align:justified;
}
p {
  color:white;
}
iframe {
  width:69px;
  height:420px;
}
.disappear {
  display:inline;
}
.disappear:hover {
  display:none;
}
.link {
  text-decoration:none;
  color:white;
}
  
