body {
  background-color:black;
}
.goofy-ah p {
  font-size:69px;
  display:inline;
}

.goofy-ah p:hover {
  color:skyblue;
  display:block;
}
.descrip p, .descrip div{
  color:Crimson;
  text-align:right;
  font-size:21px;
  font-family:sans-serif;
}
.descrip {
  background-color:yellowgreen;
  margin:4px;
}
.descrip > div:active::after {
  content:" It was fun. I feel like I am mproving ice skate skills every year by not sticking to the wall so much. But why was it the beach again, at least we dug a massive hole";
}
#rotate {
  color:blue;
  font-size:1px;
}
#rotate:hover {
  transform:rotate(222deg);
  display:inline;
}
#cool {
  color:lightyellow;
  text-align:justified;
  transition:rotateY 2s, color 3s;
}
#cool:hover {
  color:brown;
  transform:rotateY(222deg);
p {
  color:white;
}
iframe {
  width:299px;
  height:420px;
}
.disappear {
  display:inline;
}
.disappear:hover {
  display:none;
}
.link {
  text-decoration:none;
  color:white;
  cursor:pointer;
}
section h4 {
  color:green;
}
.source {
  font-size:11px;
}
img {
  border-style:groove;
  border-color:palegreen;
}
.sched {
  color:orange;
  background-color:white;
  font-family:courier;
}
.highlight {
  color:palegoldenrod;
  background-color:orchid;
  font-family:papyrus;
}
.expand {
    letter-spacing:-20px;
    transition: letter-spacing 2s;
}
.expand:hover {
  letter-spacing:10px;
}
.header {
  min-height:500px;
  }
  
