body {
  background-color:black;
}
.goofy-ah p {
  color:white;
  font-size:69px;
  display:inline;
}

.goofy-ah:hover {
  display:none;
}
.descrip {
  color:Crimson;
  text-align:right;
}
.descrip:active::after {
  content:"It was fun";
}
#rotate {
  color:blue;
  font-size:6px;
}
#rotate:hover {
  transform:rotate(222deg);
  display:inline;
}
