body {
  background-color:black;
}
.goofy-ah p {
  font-size:69px;
  display:inline;
  min-height:333px;
}
.descrip p, .descrip div{
  color:Crimson;
  text-align:right;
  font-size:21px;
  font-family:sans-serif;
}
.descrip {
  background-color:yellowgreen;
  margin:12px;
  padding:10px;
}
.descrip > div:active::after {
  content:" It was fun. I feel like I am mproving ice skate skills every year by not sticking to the wall so much. But why was it the beach again, at least we dug a massive hole";
}
#rotate {
  color:blue;
  font-size:1px;
}
#rotate:hover {
  transform:rotate(222deg);
  display:inline;
}
#cool {
  color:lightyellow;
  text-align:justified;
  width:200px;
  transition:transform 2s, color 3s;
}
#cool:hover {
  color:brown;
  transform:rotateY(359deg);
}
p {
  color:white;
}
iframe {
  width:299px;
  height:420px;
}
.disappear {
  display:inline;
}
.disappear:hover {
  display:none;
}
.link {
  text-decoration:none;
  color:white;
  cursor:pointer;
}
section h4 {
  color:green;
}
.source {
  font-size:11px;
}
img {
  border-style:groove;
  border-color:palegreen;
  opacity:0.2;
  filter:brightness(20%);
  transition:opacity 2s, filter 2s;
}
img:hover {
  opacity:1;
  filter:brightness(101%);
}
.sched {
  color:orange;
  background-color:white;
  font-family:courier;
  animation: schedule 0.1s infinite alternate;
}
.highlight {
  color:palegoldenrod;
  background-color:orchid;
  font-family:papyrus;
  animation: rotate 60s infinite alternate;
}
.expand {
    letter-spacing:-20px;
    transition: letter-spacing 2s, color 2s;
    color:white;
}
.expand:hover {
  letter-spacing:5px;
  color:skyblue;
}
@keyframes rotate {
  from{float:right;}
  to {float:right; transform:rotate(2deg);}
}
@keyframes schedule {
  0% {filter:grayscale(0%)}
  50% {transform:rotate(0.1deg);}
  100%{filter:grayscale(100%);transform:rotate(-0.1deg);}
}
